<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196256863831-rkdt227rulonbd04pu56dfmt3k8o4m3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196256863831-rkdt227rulonbd04pu56dfmt3k8o4m3e</string>
	<key>API_KEY</key>
	<string>AIzaSyAPQh3Y82xJIh0Ewlyfhdq13vibqx0044o</string>
	<key>GCM_SENDER_ID</key>
	<string>196256863831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mind.dummy</string>
	<key>PROJECT_ID</key>
	<string>dummy-e9d94</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-e9d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196256863831:ios:ad9ac89e27ae34c4227512</string>
</dict>
</plist>